# Data Types

In [6]:
i1 = 10
i2 = 20

In [8]:
res_i = i1 + i2

In [10]:
print(res_i)

30

In [13]:
type(res_i)

int

In [15]:
f1 = 10.5
f2 = 20.5

In [17]:
res_f = f1 + f2

In [19]:
print(res_f)

31.0

In [21]:
type(res_f)

float

In [23]:
v1 = 2
v2 = 10.2
res_v = v1 + v2

In [24]:
print(res_v)

12.2

In [26]:
f1 = 10.1
f2 = '20.2'
res_f = f1 + float(f2)

In [29]:
print(res_f)

30.299999999999997

In [31]:
type(res_f)

float

In [33]:
s = "hello 'world'"
print(s)

hello 'world'

In [35]:
s1 = "hello"
s2 = "world"
print(s1 + ' ' + s2)

hello world

In [38]:
s1 = "hello"
i = 1
print(s1 + ' ' + (i))

TypeError: can only concatenate str (not "int") to str

In [43]:
s = '{s3} {s4}'
s3 = "hello"
s4 = 1

print(s.format(s3 = s3, s4 = s4))

hello 1

In [44]:
print('The result is {} {}'.format(s3, s4))

The result is hello 1

In [14]:
i1 = 10
i2 = 20

In [48]:
i1 == i2

False

In [50]:
res_e = i1 < i2

In [52]:
print(res_e)

True

In [53]:
type(res_e)

bool

# Conditionals

In [55]:
i = 5

In [57]:
if i%2 == 0:
    print("even")
else:
    print("odd")

odd

In [ ]:
print("even") if i%2==0 else print("odd")

In [2]:
j = 10

In [4]:
i = int(input("Enter a number..."))

In [6]:
if i % 2 == 0:
    print(f"{i} is even")
else:
    print(f"{i} is odd")

10 is even

In [10]:
n = None
print("its None can be used in database programming") if n == None else print(n)

its None can be used in database programming

In [12]:
n = int(input("Enter a number..."))

In [13]:
if n % 2 == 0 or n % 3 == 0:
    print(f"{n} is even and divisble by 3")

10 is even and divisble by 3

# Looping

In [4]:
range(5, 11)

range(5, 11)

In [6]:
list(range(5, 11))

[5, 6, 7, 8, 9, 10]

In [8]:
list(range(5, 11, 2))

[5, 7, 9]

In [15]:
for i in list(range(5, 11)):
    print(i)

5
6
7
8
9
10

In [14]:
l = [1, 2, 3, 4, 5, 6, 7]

cnt = 0
for i in l:
    if cnt % 2 == 0: #checking if cnt is even or not
        print(i)
    cnt += 1

1
3
5
7

In [17]:
for i in range(5, 16):
    if i % 2 == 0:
        print(i)

6
8
10
12
14

In [19]:
import calendar
calendar.month_name

In [26]:
for month in range(calendar.month_name)[1:]:
    print(month)

TypeError: '_localized_month' object cannot be interpreted as an integer

In [28]:
for month in list(calendar.month_name)[1:]:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

In [35]:
ages = [1, 4, 8, 10, 14, 6, 34, 6, 50]

for age in ages:
    if age < 5: print(f"{age} age is and Toddler")
    elif age >= 5 and age <= 10: print("Young")
    elif age >= 10 and age <= 15: print("Grown up")
    else: print("Adult")

1 age is and Toddler
4 age is and Toddler
Young
Young
Grown up
Young
Adult
Young
Adult

In [39]:
ns = [1, 6, 2, 7, 9, 11, 3, 4]

for n in ns:
    if n % 2 == 0 or n % 3 == 0:
        print(f"{n} is even or divisble by 3")

6 is even or divisble by 3
2 is even or divisble by 3
9 is even or divisble by 3
3 is even or divisble by 3
4 is even or divisble by 3

In [40]:
ns = [1, 6, 2, 7, 9, 11, 3, 4]

for n in ns:
    if n % 2 == 0 and n % 3 == 0:
        print(f"Number {n} is even and divisible by 3")
    elif n % 3 == 0:
        print(f"Number {n} is not even and divisible by 3")
    elif n % 2 == 0:
        print(f"Number {n} is even and not divisible by 3")

Number 6 is even and divisible by 3
Number 2 is even and not divisible by 3
Number 9 is not even and divisible by 3
Number 3 is not even and divisible by 3
Number 4 is even and not divisible by 3